
.header{
    padding: 0 2rem;
    background-color: #FFF;
    border-bottom: 1.5px solid #d1dad9;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;   
}

.header--logo{
   width: 25%;
}

.header--btns--box{
    display: flex;
    gap: 1rem;
}


.register--btn{
    min-width: 6.472rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bfc6c5;
    background-color: #4c9d96;
    border-radius: .3rem;
    height: 2rem;
    padding: 1rem;
    color: #FFF;
    transition: .3s ease-out;
}

.login--btn{
    min-width: 6.472rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bfc6c5;
    border-radius: .3rem;
    height: 2rem;
    padding: 1rem;
    color: #4c9d96;
    transition: .3s ease-out;
}


.logout--btn{
    min-width: 6.472rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4c9d96;
    border-radius: .3rem;
    height: 2rem;
    padding: 1rem;
    color: #4c9d96;
    transition: .3s ease-out;
}

.login--btn:hover, .logout--btn:hover{
    background-color: #4c9d96;
    color: #FFF;
    text-decoration: none;
}

.register--btn:hover{
    text-decoration: none;
    border: 1px solid #bfc6c5;
    background-color: #FFF;
    color: #4c9d96;
}


@media screen and (max-width: 767px) {
    .register--btn{
        min-width: 3.472rem;
        width: 3.8rem;
        font-size: .8rem;
    }
    
    .login--btn{
        min-width: 3.472rem;
        width: 3.8rem;
        font-size: .8rem;
    }
    
    
    .logout--btn{
        min-width: 3.472rem;
        width: 3.8rem;
        font-size: .8rem;
    }
}    